*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h4{
  text-align: center;
  background-color: rgb(127, 127, 244);
  color: #fff;
}

/* react state lev1_1-FAQ */
.faq_container{
  background-color:#C4C4C4 ;
  width: 50%;

  margin: 4vh auto;
  padding: 2vh 2%;
  color: #fff;
}

.faq{
  border: #fff solid 1px;
  background-color: #484848;
  padding: 4vh 4%;
}
.faq_question{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 3vh;
}
.faq_question button{
  padding:  2px 5px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.faq_question button:active{
  background-color: rgb(21, 21, 150);
  color: #fff;
}

.faq_answer{
border-top: #fff solid 1px;
padding: 1vh 0;
}


/* react state lev1_2-FAQ2 */



.faq_container2{
  background-color:#C4C4C4 ;
  width: 50%;
  margin: 4vh auto;
  padding: 2vh 2%;
  color: #fff;
}

.faq2{
  background-color: #484848;
  padding: 4vh 4%;
  border: #fff solid 1px;

}
.faq2_question{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 3vh;
}
.faq2_question button{
  padding:  2px 5px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

.faq2_answer button{
  padding:  2px 5px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.faq2_answer button:active{
  background-color: rgb(21, 21, 150);
  color: #fff;
}
.faq2_answer div{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 3vh;
border-top: #fff solid 1px;
padding: 2vh 0;
}



.faq2_answer> p{
border-top: #fff solid 1px;
padding: 1vh 0;
}

/* react state counter lev1_3 */
.counter_container{
  background-color:#74D8BC;
  width: 30%;

  margin: 4vh auto;
  padding: 2vh 2%;
  color: #fff;
  text-align: center;
}

.counter_display{
  display: flex;
  justify-content: space-around;
  padding: 3vh 5%;
}

.counter_display button{
  padding:  10px;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
}
.counter_display p{
  font-size: 2rem;
  border: #fff solid 1px;
  padding: 5px 25px;
}

.counter_container >button{
  padding: 1rem 3rem;
  border: none;
}

/* react state lev2_2: day-night-change */

.day_night_container{
  width: 30%;
  margin: 4vh auto;
  padding: 4vh 2%;
  text-align: center;
  border: #C4C4C4 solid 1px;
}
.day_night_container >p{
  margin: 4vh 0;
  font-size: 2rem;

}










